
.dj-mtmenu {
    background: url("../images/menuBackground.gif") repeat-x scroll left top rgba(0, 0, 0, 0);
    font-family: Arial,Helvetica,sans-serif;
    height: 59px;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    position: relative;
    
    z-index: 500;
}
.dj-mtmenu li.dj-up {
    border-right: 0 none;
    display: block;
    float: left;
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
.dj-mtmenu li.first {
}
.dj-mtmenu li.last {
}
.dj-mtmenu li.active, .dj-mtmenu li.hover {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.dj-mtmenu li a.dj-up_a {
    color: #4F4F4F;
    cursor: pointer;
    display: block;
    float: left;
    font-size: 12px;
    font-weight: bold;
    height: 36px;
    line-height: 36px;
    padding: 0 26px;
    text-decoration: none;
    text-transform: none;
}
.dj-mtmenu li a.dj-up_a span {
    display: block;
    float: left;
}
.dj-mtmenu li a.dj-up_a span.dj-drop {
    background: url("../images/menu-arrow.gif") no-repeat scroll 100% 17px rgba(0, 0, 0, 0);
    display: block;
    float: left;
    padding: 0 15px 0 0;
}
.dj-mtmenu li.hover a.dj-up_a, .dj-mtmenu li.active a.dj-up_a {
    background: none repeat scroll 0 0 #ECECEC;
    color: #CB0900;
    height: 59px;
}
.dj-mtmenu li.hover a.dj-up_a span, .dj-mtmenu li.active a.dj-up_a span {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    text-decoration: none;
}
.dj-mtmenu li.active a.dj-up_a span.dj-drop, .dj-mtmenu li.hover a.dj-up_a span.dj-drop {
    background: url("../images/menu-arrow.gif") no-repeat scroll 100% -33px rgba(0, 0, 0, 0);
}
.dj-mtmenu li.separator > a {
    cursor: default;
}
.dj-mtmenu img {
    margin: 0 5px 0 0;
    vertical-align: middle;
}
.dj-mtmenu li.hover {
    position: static;
    z-index: 200;
}
.dj-mtmenu div.djsubwrap {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
    padding: 0;
    position: absolute;
    top: 38px;
    z-index: 300;
}
.dj-mtmenu div.djsubwrap .cols_5 {
    width: 900px;
}
.dj-mtmenu div.djsubwrap .cols_4 {
    width: 720px;
}
.dj-mtmenu div.djsubwrap .cols_3 {
    width: 540px;
}
.dj-mtmenu div.djsubwrap .cols_2 {
    width: 980px;
}
.dj-mtmenu li.hover div.djsubwrap div.sub-bg {
    background: url("../images/bgSubmenu.png") repeat-x scroll left top #E7E7E7;
    float: right;
    height: 300px;
    margin: 21px -122px 0 -318px;
    text-align: left;
    width: 980px;
}
.dj-mtmenu div.djsubwrap {
    display: none;
}
.dj-mtmenu li.hover div.djsubwrap {
    background: url("../images/blank.gif") repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: block;
}
.dj-mtmenu ul.dj-submenu {
    border: 0 none;
    display: block;
    list-style: none outside none;
    margin: 0;
    padding: 25px 0;
}
.dj-mtmenu ul.dj-submenu li {
    background: url("../images/blank.gif") repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-right: 1px solid #CCCCCC;
    display: block;
    float: left;
    height: 210px;
    list-style: none outside none;
    margin: 0;
    padding: 0 10px 10px 50px;
    width: 265px;
}
.dj-mtmenu ul.dj-submenu li a {
    color: #4F4F4F;
    cursor: pointer;
    display: block;
    font-size: 12px;
    font-weight: normal;
    line-height: 13px;
    margin: 0;
    padding: 3px 0;
    text-decoration: none;
}
.dj-mtmenu ul.dj-submenu li ul {
    border: 0 none;
    display: block;
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
.dj-mtmenu ul.dj-submenu li ul li {
    background: url("../images/submenuPipe.gif") no-repeat scroll left top rgba(0, 0, 0, 0);
    border-right: medium none !important;
    border-top: 1px solid #CCCCCC;
    display: block !important;
    float: none;
    height: 17px;
    margin: 10px 0;
    padding: 0 0 0 15px;
    width: 200px;
}
.dj-mtmenu ul.dj-submenu li ul li a {
    color: #4F4F4F;
}
.dj-mtmenu ul.dj-submenu li ul li ul {
    padding: 0;
    vertical-align: baseline;
}
.dj-mtmenu li.hover ul.dj-submenu li a:hover, .dj-mtmenu li.hover ul.dj-submenu li a.active {
    color: #CB0900;
}
.dj-mtmenu li.hover ul.dj-submenu li ul li a:hover, .dj-mtmenu li.hover ul.dj-submenu li ul li a.active {
    color: #CB0900;
}
.dj-mtmenu li.hover ul.dj-submenu li a.dj-more, .dj-mtmenu li.hover ul.dj-submenu li ul li a.dj-more {
    background: url("../images/sub-arrow.gif") no-repeat scroll 100% 8px rgba(0, 0, 0, 0);
    font-weight: bold;
    padding-right: 10px;
}
.dj-mtmenu li.hover ul.dj-submenu li a.dj-more-active, .dj-mtmenu li.hover ul.dj-submenu li ul li a.dj-more-active {
    background: url("../images/sub-arrow.gif") no-repeat scroll 100% 8px rgba(0, 0, 0, 0);
    color: #CB0900;
    font-weight: bold;
    padding-right: 10px;
}
.dj-mtmenu li.hover ul.dj-submenu li.hover a.dj-more, .dj-mtmenu li.hover ul.dj-submenu li.hover ul li.hover a.dj-more, .dj-mtmenu li.hover ul.dj-submenu li.hover ul li.hover li.hover a.dj-more, .dj-mtmenu li.hover ul.dj-submenu li.hover ul li.hover li.hover li.hover a.dj-more {
    color: #CB0900;
    font-weight: bold;
}
.dj-mtmenu li.hover ul.dj-submenu li a.dj-more, .dj-mtmenu li.hover ul.dj-submenu li.hover ul li a.dj-more, .dj-mtmenu li.hover ul.dj-submenu li.hover ul li.hover li a.dj-more, .dj-mtmenu li.hover ul.dj-submenu li.hover ul li.hover li.hover li a.dj-more {
    color: #4F4F4F;
    font-weight: bold;
}
.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
.clearfix {
    display: inline-block;
}
* html .clearfix {
    height: 1%;
}
.clearfix {
    display: block !important;
}
